.form-signup {
  background: #FFDD74;
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 10px;

  p {
    text-align: center;
    color: rgba(0, 0, 0, 0.6)
  }

  .btn {
    width: 150px;
    margin-bottom: 20px;
    background: linear-gradient(220.3deg, #FFC000 1.55%, #FF8A00 95.8%);
    border-radius: 100px;
    box-shadow: 0px 12px 35px rgba(160, 121, 0, 0.2)
  }

  .form-control {
  border-radius: 50px;
  }

  #links a {
  color: rgba(0, 0, 0, 0.6)
  }
}


