// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$green: #1EDD88;

$white:#fff;
$gray: #0E0000;
$light-gray: #F4F4F4;

$orange: #ff8a00;
$orange-light: #ffb301;
$yellow:  #ffff00;
$yellow-light: #ffcd33;
