.log-in{
  background: #FFDD74;
  border-radius: 10px;
}

.log-in p{
  font-size: 15px;
  color: rgba(0, 0, 0, 0.6);
}

.btn-log-in{
  background: linear-gradient(220.3deg, #FFC000 1.55%, #FF8A00 95.8%);
  box-shadow: 0px 12px 35px rgba(160, 121, 0, 0.2);
  border-radius: 100px;
  color: #fff;
  width: 150px;
}

.container-log-in{
  position: relative;
  width: 100%;
  height: 850px;
  left: 0px;
  top: 0px;
  background: linear-gradient(244.12deg, #FFC000 1.55%, #FF8A00 95.8%);
  padding-top: 15px;
  padding: 0 50px 0 50px;
}

.form-control{
  border-radius: 20px;
}

#links a{
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}

.remember{
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
