// Specific CSS for your home-page
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 18px;
}

#section {
  width: 100%;
  height: 100vh;
  color: #fff;
  background: linear-gradient(#e66465, #9198e5);
  background: linear-gradient (-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background: linear-gradient (-45deg, #ff8a00, #ffb301, #ffcd33, #ffff00);
  background-size: 400% 400%;

  position: relative;
  animation: change 10s ease-in-out infinite;
}

.home{
  position: relative;
  margin: 0;
  width: 100%;
  height: 100vh;
  color: #fff;
  background: linear-gradient(-45deg, #ff8a00, #ffff00);
  background-size: 400% 400%;
  animation: gradientBG 5s ease infinite;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.logobanner {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-5%, -50%);
  padding: 0rem 10rem;
}

.photo {
  position: absolute;
  width:50px;
  height:auto;
  top: 17%;
  left: 15%;
  transform: translate(-70%, -15%);
  padding: 5rem 10rem;
}

.photo img {
  width:550px;
  height:auto;
  border-radius: 10px;
  box-shadow: 5px 5px 5px orange;
}
