// Specific CSS for your home-page
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 18px;
}
.bg-img{

background-image: url(https://res.cloudinary.com/lilou1681/image/upload/v1576192692/HomeHandicapps_krtjm0.png);
background-size:cover;
height:100vh;
width:auto;
}

#section {
  width: 100%;
  height: 100vh;
  color: #fff;
  background: linear-gradient(#e66465, #9198e5);
  background: linear-gradient (-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background: linear-gradient (-45deg, #ff8a00, #ffb301, #ffcd33, #ffff00);
  background-size: 400% 400%;

  position: relative;
  animation: change 15s ease-in-out infinite;
}

.home{
  position: relative;
  margin: 0;
  width: 100%;
  height: 100vh;
  color: #fff;
  background: linear-gradient(-45deg, #ff8a00, #ffff00);
  background-size: 400% 400%;
  animation: gradientBG 10s ease infinite;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
