<h3>COMMENT CRÉER UN PROJET DE VIE.</h3>

<h4>1.Présentation de l'enfant, avec diagnostic</h4>

<li>-Âge de l’enfant</li>
<li>-Diagnostic posé</li>
<li>-Court résumé des difficultés causées par son handicap, à la maison, à l’école et à l’extérieur</li>

<h4>2.Les difficultés de l'enfant au quotidien</h4>

<p>À réorganiser selon les troubles de l'enfant, pour bien mettre en valeur les conséquencesdu handicap dans
la vie quotidienne de l'enfant.
Vous pouvez opter pour une présentation des difficultés par type de difficulté ou par environnement.</p>

<p> Par type de difficulté</p>

<li> a)Communication</li>
<li> b)Comportement</li>
<li> c)Apprentissages</li>
<li> d)Motricité, troubles sensoriels</li>
<li> e)Autonomie</li>
<li> f)Mise en danger</li>
<li> g)Autres</li>

<p>Par environnement</p>

<li>a)Difficultés rencontrées à la maison</li>
<li>b)Difficultés rencontrées à l’école ou en établissement</li>
<li>c)Difficultés rencontrées à l’extérieur</li>

<h4> 3.Moyens mis en place pour pallier ces difficultés et moyens envisagés à chaque fois.</h4>

<p> indiquer la prise en charge actuelle et les modifications envisagées (= nouvelles demandes à la MDPH)</p>

<li>a)Prise en charge</li>
<p> -En libéral : pédopsychiatre ou autre médecin (neuropédiatre, etc.), psychologue, orthophoniste,
 psychomotricien, ergothérapeute, orthoptiste, kinésithérapeute, intervenant à domicile
 (intervenant ABA par exemple), etc.1
<p> Attention : •Ce qui est médical et paramédical est remboursé par la sécurité sociale : médecin,orthophoniste, orthoptistes, kinésithérapeute --> bien indiquer cette prise en charge dans le projet de vie, mais ne pas demander de remboursement de ces frais (pour cela, demander une ALD à la sécurité sociale via votre médecin traitant)
<p> •Ce qui est pris en compte par la MDPH pour les allocations est ce qui n'est pas remboursé par la sécurité sociale : psychologue, psychomotricien, ergothérapeute, intervenant à domicile, notamment-En structure (établissement ou structure médico-sociale, ou structure sanitaire) :
<p> •Médico-social : CMPP, CAMSP, SESSAD, IME, etc.•Sanitaire : CMP, CATTP, hôpital de jour - via une association
b) à la maison
Aménagements au quotidien :
-Pour communiquer
-Pour les repas-Pour la toilette
-Autres
A l’école(Si l'enfant est scolarisé en milieu ordinaire)
-Type de scolarisation :
•Classe ordinaire avec ou sans AVS (donner le volume horaire hebdomadaire)
•Classe spécialisée en milieu ordinaire : CLIS / ULIS, avec ou sans AVS individuel ou mutualisé
-Aménagement du temps scolaire (scolarisation à temps partiel par exemple)
- aménagements matériels en classe : ordinateur ou autresd) loisirs
-Centre de loisirs, avec ou sans accompagnement
-Activités de loisirs en inclusion ou activités de loisirs adaptés : équithérapie, musique, sport adapté, etc.
Arrêt ou diminution de l’activité d’un des parents (Ou des deux)
Justifier que cette diminution ou cet arrêt de l'activité est bien le fait du handicap de l'enfant.
f) Autres
<h4>4.Demandes de la famille à la MDPH</h4>
a) financières
En reprenant le plan de la partie 3
-Financement de la prise en charge (frais correspondants à la partie 3
a)-Financement de matériel pour la maison : matériel éducatif, couches pour grands enfants,
logiciels spécialisés, etc. (voir partie 3)
b)-Demande de matériel pour l'école : ordinateur, achat de matériel éducatif adapté
(ciseaux, manchons de stylos etc.) (voir partie 3)
c)-Financement de vacances adaptées ou de loisirs adaptés (notamment si surcoût par rapport
aux loisirs d'un enfant ordinaire : association de loisirs spécialisée, accompagnement individuel, etc.)
(voir partie 3 d)
-Aide financière pour pallier l'arrêt ou la diminution du travail de l'un des parents (voir partie 3 e)
 Vous pouvez indiquer le complément AEEH souhaité, ou la PCH souhaitée
 (en nombre d'heures pour l'aide humaine, en séparant aidant familial et emploi d’une tierce personne),
 mais ce n’est pas obligatoire.
 AEEH : http://vosdroits.service-public.fr/particuliers/F14809.xhtml
 PCH :http://vosdroits.service-public.fr/particuliers/F14749.xhtml#N1008Eb) taux de handicap
 Si vous voulez demander une augmentation du taux de handicap (passage d’un handicap entre 50 et 79%
 à un handicap supérieur ou égal à 80%, par exemple), bien détailler le manque d'autonomie de la
personne par rapport à une personne du même âge.
Vous pouvez vous appuyer sur le guide barème
:http://www.legifrance.gouv.fr/affichTexte.do?cidTexte=JORFTEXT000000823675&dateTextec)
cartes-Invalidité (avec ou sans mention Besoin d’Accompagnement)
: à demander quand on a un taux d’incapacité supérieur ou égal à 80%, ou qu’on fait la demande
de ce taux-Stationnement : argumenter •Problèmes de comportement de l'enfant en voiture : se détache,
fait des crises, etc.
•Besoin de la voiture pour se rendre aux prises en charge, difficulté à trouver des
  places de stationnement
•Fatigabilité de l’enfant à la marche : besoin de se garer à proximité
  immédiate de l’endroit où l’on se rend-Priorité (si pas de carte d'invalidité) : arguments3
•Station debout pénible pour l'enfant (par exemple si l’enfant a des problèmes de motricité)
•L’enfant ne supporte pas l'attente (fatigue, crises)d) écoleIndiquez si vous souhaitez que
votre enfant bénéficie de l’accompagnement d’un AVS enclasse, ou si vous souhaitez une modification
de cet accompagnement (changement du volume horaire). Mais attention, cette demande devra être faite
de manière plus formelle à la suite d’une réunion Équipe de Suivi de Scolarisation à l’école,
avec participation de l’enseignant référent.e) orientationIndiquez ici si vous souhaitez une
orientation vers un établissement ou une structure médico-sociale : Sessad, IME, etc.
Vous pouvez indiquer que vous souhaitez une orientation vers tel ou tel type d’établissement
ou de structure, ou même indiquer nommément les établissements et structures que vous voulez.
f) autresPour un adolescent en formation professionnelle (bac pro, CAP, stage, etc.) : penser
à faire la demande de RQTH (reconnaissance de qualité de travailleur handicapé).

<h4>5.Petite synthèse / emploi du temps</h4>

<p>Vous pouvez ici rappeler les éléments clés, et/ou ajouter l’emploi du temps hebdomaire type de votre enfant.</p>

<h4>6.Pièces jointes</h4>

Joindre :
Les bilans des professionnels permettant de justifier des besoins de prise en charge
Les devis et factures permettant de justifier des frais de prise en charge
Les factures d’achat de matérielLes devis et factures de formation des parents
Un tableau récapitulatif des coûts, qui sépare :
•Les frais exceptionnels (achat de matériel, coût d’une formation, etc.)
•Les frais qui reviennent tous les moisTout autre document qui vous semble utile</p>
