<div class="home">
<section >
  <!-- <div class="photo">
    <%= image_tag("handicaprose") %>
  </div> -->
 <div class="logobanner">
  <%= cl_image_tag("Plan_de_travail_1-8_cz27so") %>
    <p>INCOMMODUM est une plateforme dédiée aux parents
                pour les aider dans les démarches adiministratives
                et leur permettre de gagner du temps.
                Trouver une information, une asscociation,
                remplir son projet de vie et son dossier MDPH.
    </p>
  </div>
</section>
</div>
