.container-child{
  background-color: #fff;
  width: 100%;
}

.btn-children{
  background: linear-gradient(220.3deg, #FFC000 1.55%, #FF8A00 95.8%);
  box-shadow: 0px 12px 35px rgba(160, 121, 0, 0.2);
  border-radius: 100px;
  color: #fff;
  width: 150px;
}

.birthday{
  margin: -25px 0 -25px -5px;
  width: 102%;
}

.form-inputs-child{
  margin: 0 200px 0 200px;
  margin-bottom: 100px;
}

.child{
  width: 200%;
  background-color: #FFDD74;
  border-radius: 10px;
}
