.container_show{
  margin:auto 200px;
}
h2{
  color:#ff8a00;
  font-size:36px;
  padding:20px;
  font-weight: bold;
  text-transform: uppercase;
  margin:10px;
  padding:20px;
}
h3{
  color:#ff8a00;
  font-size:24px;
  font-weight: bold;
  margin-top:10px;
  padding:20px 0;
}
.reminder{
  color:#ff8a00;
  text-transform: uppercase;
}


.edit {
  position:absolute;
  right : 100px;
  padding-top: 43px;
  margin-right: -27px;
  width: 20px;
}
.agenda{
  margin:auto 200px;
}
.trash{
  list-style: none;
  i{
  color:$orange;
  margin-top:25px;
  }
}
