.btn-orange{
    background: linear-gradient(220.3deg, #FFC000 1.55%, #FF8A00 95.8%);
  box-shadow: 0px 12px 35px rgba(160, 121, 0, 0.2);
   border-radius: 100px;  color: $white;
  margin:0 5px;
  &:hover {
    background-color: $yellow-light;
    border: 1px solid $yellow-light;
    // opacity: 0.7;
    color:$white;
  }
}
.btn-yellow{
  background-color:$yellow-light;
  border: 1px solid $yellow-light;
  border-radius: 50px;
  color: $white;
  margin:0 5px;
   &:hover {
    background-color: $yellow-light;
    border: 1px solid $yellow-light;
    // opacity: 0.7;
    color:$orange;
  }
}
