@import url('https://fonts.googleapis.com/css?family=Cantarell&display=swap');

.card-product {
  position: relative;
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px $orange;
  display: flex;
  align-items: center;
  margin-top: 20px;
  border-radius: 10px;
}

.card-product a {
  font-size: 24px;
  font-family: 'Cantarell', sans-serif;
  font-weight: bold;
  color: $orange_light;
  text-decoration: none;
  text-transform: uppercase;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product p {
  font-size: 14px;
  font-family: 'Cantarell', sans-serif;
  color: #191919;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-product-button-edit {
  position:absolute;
  right : 100px;
  padding-top: 43px;
  margin-right: -27px;
  width: 20px;
}

.card-product-button-delete {
  position:absolute;
  right : 0;
  padding-right: 20px;
  padding-top: 67px;
}
.card-product-button-edit i{
  color:$orange-light;
   &:hover {
    color:$orange;
  }
}
.card-product-button-delete i{
  color:$orange-light;
   &:hover {
    color:$orange;
  }
}
.card-doc {
  position: relative;
  overflow: hidden;
  padding:20px;
  width:400px;
  background: white;
  box-shadow: 0 0 15px $orange;
  display: flex;
  flex-flow:column wrap;
  justify-content:center;
  margin-top: 20px;
  border-radius: 10px;
  margin:10px;
}
.card-doc p{
  color:$orange;
  font-weight: bold;
}
.card-dashboard {
  position: relative;
  overflow: hidden;
  padding:20px;
  background: white;
  box-shadow: 0 0 15px $orange;
  display: flex;
  flex-flow:column wrap;
  justify-content:center;
  margin-top: 20px;
  border-radius: 10px;
}
