.footer {
  background: $white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0px 50px;
}

.footer-copyright {
  color: $orange;
}

.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: $orange;
  opacity: 1;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 0.6;
}
.footer .fa-heart {
  color: #D23333;
}
