.navbar-lewagon {
  justify-content: space-between;
  background: white;
  box-shadow: 0px 5px 10px $orange-light;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
height:55px;
width:auto;
}

.icon {
  color: #ff8a00;
}
.navbar-light .navbar-nav .nav-link a{
  padding: 10px;
}

