// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// @import "bootstrap";
@import "summernote-bs4";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "organizations/index";
@import "informations/index";
@import "childrens/show";

// @import "bootstrap";
@import "summernote-bs4";
@import "simple_calendar";
@import "registrations/new";
@import "registrations/edit"
